/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
  ========================================
  Custom styles
  ========================================
*/
body {
    background: #293f50;
    color: #fff;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
/*
  ========================================
  Grid
  ========================================
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
header {
  background-color: white;
  text-align: left;
  line-height: 70px;
}
header,
.container {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}
.col-side {
  width: 30%;
}
.col-main {
  width: 60%;
}
.col-side,
.col-main {
  display: inline-block;
  vertical-align: top;
  margin-top: 40px;
}

.new-section {
    border-bottom: 1px solid white;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
   border-bottom: 1px solid white;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
footer {
    background: white;
    line-height: 50px;
}

/* 
    TYPOGRAPHY
*/
h1 {
    font-size: 36px;
    letter-spacing: 1.5px;
    color: #888
}
h2 {
    font-size: 24px;
    font-weight: 500;
}

/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
/*
    ICONS
*/
.material-icons.md-18 { font-size: 18px; }
.material-icons.moved { transform : translateY(6px);}
/* 
    OTHERS: LINKS, INPUT, BUTTONS, FORMS
*/
.btn-add {
  border: none;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 24px;
  padding: 20px;
}
.btn-form {
  padding: 10px 20px;
  background: #293f50;
  color: white;
  border-radius: 5px;
}
.btn-delete {
  background-color: transparent;
  cursor: pointer;
}

.btn-style {
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
.btn-status {
  font-size: 16px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
}

.btn-icons {
  font-size: 10px;
  border: none;
}
.icons {
  width: 24px;
  height: 24px;
}
label {
    font-size: 20px;
    line-height: 24px;
    padding: 5px;
    margin: 5px;
}
input, select {
    font-size: 20px;
    line-height: 24px;
    padding: 5px;
    margin: 20px 5px;
    border-radius: 5px;
    border: 1px solid grey;;
}
.forms{
  
  background: transparent;
  box-shadow: 0 2rem 2rem #00000080;
  min-height:200px;
  width:100%;
  border-radius:3px;
  padding:20px;  
  margin-top: 40px;
  color: white;
}

/*
    BOOKS LIST - TABLE
*/

table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
  }
th {
    background-color: lightblue;
    color: #293f50;
    font-size: 20px;
}
th:first-child {
    border-top-left-radius: 10px;
}
th:last-child {
    border-top-right-radius: 10px;
}
th,td {
    border-bottom: 1px solid #cecfd5;
    padding: 10px 15px;
}
td:first-of-type {
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
tr:last-child td{
    border-bottom: 0;
}

/*
    BOOKS GRID
*/
.card {
    display: inline-block;
    border: 1px solid white;
    border-radius: 5px;
    width: 200px;
    height: 250px;
    padding: 20px 0;
    margin: 0 10px 10px 10px;
    vertical-align: top;

}
.card div {
    padding: 5px;
}
.card div:first-child {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
