/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
  ========================================
  Custom styles
  ========================================
*/
html,
body {
  margin: 0; 
  height: 100%;
  
}
body {
  background-color: #fffff8;
  color: #293f50;
  font: 300 16px/1.5 "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  
  
}
/* 
  ========================================
    TYPOGRAPHY
  ========================================
*/
h1 {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1.5px;
  color: #293f50;
}
h2 {
  font-size: 18px;
  font-weight: 500;
}
h3 {
  font-size: 24px;
  line-height: 40px;
  font-weight: 500;
  color: #648880;
}
p {
  font-size: 20px;
}
  
/*
  ========================================
  Grid
  ========================================
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
header {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  line-height: 80px;
  
}
header,
footer {
   padding-left: 50px;
   padding-right: 50px;
}
.intro {
  padding-top: 100px;
  text-align: center;
  margin: 0 auto;
  width: 560px;
  text-align: center;
}
.main {
  display: none;
  text-align: center;
}
.col-side {
    width: 25%;
    padding-top: 30px;
    padding-right: 15px;

}
.col-main {
    width: 70%;
    padding-top: 45px;
}
.col-side,
.col-main {
    display: inline-block;
    vertical-align: top;
    min-height: 100%;
}
.box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 20px;
}
.box div {
  color:#888;
}
.text-wrapper {
  margin-bottom: 100px;
}
footer {
  background-color: #293f50;
  color: #fff;
  line-height: 50px;
  width: 100%;
  margin-top: auto;
  
}
.gradient {
    background: #cbe2c1;
    background: -webkit-linear-gradient(to right, #cbe2c1, #f6f1d3);
    background: -moz-linear-gradient(to right, #cbe2c1, #f6f1d3);
    background: linear-gradient(to right, #cbe2c1, #f6f1d3);
}

/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
/*
  ========================================
    ICONS
  ========================================
*/
.material-icons.md-18 { font-size: 18px; }
.material.icons.moved { transform: translateX(5);}
/* 
  ========================================
    OTHERS: LINKS, BUTTONS
  ========================================
*/
a,
a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.btn-new {
  color: #293f50;
  background: transparent;
  border: 3px solid #293f50;
  border-radius: 3px;
  cursor: pointer;
  font-size: 24px;
  padding: 20px 30px;
  outline: none;
}

.btn {
  color: #3a506b;
  border: 2px solid #3a506b;
  background-color: #fff;
  /*background: linear-gradient(#49708f, #293f50);*/
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
  outline: none;
}
.forms button {
  font-size: 16px;
}
.btn-cancel {
  /*background: linear-gradient(red, rgb(117, 9, 9));*/
  background-color: #fff;
  border: 2px solid  #f07167;
  color: #f07167;
}
.btn-status {
  font-size: 16px;
  border: none;
  background-color: #3a506b;
  color: #fff;
}
.btn:hover,
.btn-status:hover {
  box-shadow: 0 .25rem .25rem #00000080;
}
.btn-icons {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
/*
  ========================================
  FORM
  ========================================
*/
.form {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2rem 2rem #00000080;
  font-size: 18px;
  margin-top: 40px;
  padding: 25px;  
  text-align: left;
  width: 100%;
}
input, select {
  border: 1px solid grey;;
  border-radius: 5px;
  line-height: 24px;
  margin: 5px 0 30px 0;
  padding: 5px;
  width: 100%;
}
/*
  ========================================
    BOOKS LIST - TABLE
  ======================================== 
*/
#display,
#list {
  margin-top: 20px;
}
#list {
  display: none;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin: auto;
}
th:first-child {
  border-top-left-radius: 10px;
}
th:last-child {
  border-top-right-radius: 10px;
}
th,td {
  border-bottom: 1px solid #cecfd5;
  padding: 20px 15px;
}
td:first-of-type {
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
}
tr:last-child td{
  border-bottom: 0;
}

/*
  ========================================
    BOOKS GRID
  ========================================
*/
.card {
    display: inline-block;
    position: relative;
    border: none;
    background: #fff;
    box-shadow: 0 .25rem .5rem #00000080;
    border-radius: 3px;
    width: 200px;
    min-height: 250px;
    padding: 20px 0;
    margin: 0 10px 10px 10px;
    vertical-align: top;
    text-align: center;
}
.card div {
    padding: 2px;
}
.card div:first-child {
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 10px;
}
.card div:last-of-type {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
}
.card button:first-of-type {
  position: absolute; 
  bottom: 15px;
  left: 27px;
}
.card button:last-child {
  position: absolute;
  top: 6px;
  right: 0;
}
